@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* Reset de márgenes y paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Estilos básicos */
body {
    background-color: #f3f3f3;
    color: #333;
    line-height: 1.6;
}

/* Encabezado */
header {
    background: #4CAF50;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    font-size: 2rem;
}

header p {
    margin: 0.5rem 0;
}

nav a {
    color: #fff;
    margin: 0 1rem;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* Secciones */
section {
    padding: 2rem;
    max-width: 800px;
    margin: auto;
}

h2 {
    color: #4CAF50;
    margin-bottom: 1rem;
}

ul {
    list-style-type: disc;
    padding-left: 1.5rem;
}

/* Botón */
button {
    background-color: #4CAF50;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1rem;
}

button:hover {
    background-color: #45a049;
}


/*aqui va el footer*/

footer {
    width: 100%;
    padding: 50px 0px;
    background-color: #008000;
    -webkit-mask-image: url("/logos-y-mas/background-footer.svg");
    mask-image: url("/logos-y-mas/background-footer.svg");
    -webkit-mask-size: cover;
    mask-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    gap: 20px; /* Espaciado entre elementos */
}

.box__footer {
    flex: 1 1 300px; /* Permite flexibilidad y mínimo de 300px */
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.box__footer .logo img {
    width: auto;
    height: 80px; /* Ajusta según tu diseño */
    margin: 0 auto;
    display: block;
}

.box__footer .terms {
    margin-top: 20px;
    font-weight: 500;
    color: #7a7a7a;
    font-size: 16px;
    text-align: justify;
}

.box__footer h2 {
    margin-bottom: 20px;
    color: #343434;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
}

.box__footer a {
    margin-top: 10px;
    color: #7a7a7a;
    font-weight: 600;
    text-decoration: none;
}

.box__footer a:hover {
    opacity: 0.8;
}

.box__copyright {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 20px 40px;
}

.box__copyright p {
    margin-top: 20px;
    color: #7a7a7a;
    font-size: 14px;
}

.box__copyright hr {
    border: none;
    height: 1px;
    background-color: #7a7a7a;
    margin-bottom: 20px;
}
