@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* Reset de márgenes y paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    text-decoration: none;
}

/* Estilos básicos */
body {
    background-color: #f3f3f3;
    color: #333;
    line-height: 1.6;
}
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
}
/* Encabezado superior */
.header__superior{
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

}

.logo_superior img{
    width: 200px;
}

.search input{
    width: 300px;
    padding: 10px;
}

/*barra menú*/

.container__menu{
    width: 100%;
    height: 70px;
    background: #45a049;
    padding: 0px 20px;
}

.menu{
    max-width: 1200px;
    margin: auto;
    height: 100%;

}

nav{
    height: 100%;

}

nav > ul{
    height: 100%;
    display: flex;

}

nav  ul  li{
    height: 100%;
    list-style: none;
    position: relative;

}

nav > ul > li:first-child > a{
    background-image: url(../logos-y-mas/home.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 20px 40px;
}

nav > ul > li:first-child:hover > a{
    background-image: url(../logos-y-mas/home.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center center;
    
}

nav > ul > li > a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 14px;
    color: #333;
    text-transform: uppercase;
    font-size: 14px;
    transition: all 300ms ease;
}

nav > ul > li > a:hover{
    transform: scale(1.1);
    background: #96da9c;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

#selected{
    transform: scale(1.1 );
    background-color: #96da9c;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

/*sub menu*/
nav ul li ul{
    width: 200px;
    display: flex;
    flex-direction: column;
    background: #fff;
    position: absolute;
    top: 90px;
    left: -5px;
    padding: 14px 0px;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    z-index: 10;
}

nav ul li:hover ul{
    visibility: visible;
    opacity: 1;
    top: 70px;
    transition: all 300ms ease;
}

nav ul li ul::before{
    content: '';
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid white;
    position: absolute;
    top: -12px;
    left: 20px;
}

nav ul li ul li a{
    display: block;
    color: #96da9c;
    padding: 6px;
    padding-left: 14px;
    margin-top: 10px;
    font-size: 14px;
    text-transform: uppercase;
    transition: all 300ms ease;

}

nav ul li ul li a:hover{
    background: #bee0be;
    color: #fff;
    transform: scale(1.1);
    padding-left: 30px;
    font-size: 14px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);

}

/*elementos responsivos*/

.icon__menu{
    font-size: 26px;
    color: white;
    cursor: pointer;
    width: 26px;
    height: 100%;
    display: none;
    align-items: center;

}

#label__check{
    width: 26px;
    height: 100%;
    display: none;
}

#check__menu{
    display: none;
}

@media screen and (max-width: 720px) {

    .search input{
        display: none;
    }

    .header__superior{
        padding: 10px;

    }

    .logo_superior img{
        width: 150;
    }

    nav > ul{
        flex-direction: column;
        background-color: #45a049;
        position: fixed;
        left: 0;
        top: 158px;
        width: 100%;
        height: 0px;
        transition: all 300ms ease;
        z-index: 100;
        opacity: 0;
        visibility: hidden;

    }

    nav > ul >  li > a:hover{
        transform: scale(1);

    }
    
    nav ul li ul{
        left: 90px;
    }

    nav > ul > li:hover ul{
        top: 90px;
    }

    nav > ul li:first-child a{
        background-position: 20px;
    } 

    #selected{
        transform: scale(1);
    }

    #label__check{
        display: block;
    }

    .icon__menu{
        display: flex;
    }

    #check__menu:checked ~ nav > ul{
        height: 300px;
        visibility: visible;
        opacity: 1;
    }

}






nav a {
    color: #fff;
    margin: 0 1rem;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* Secciones */
section {
    padding: 2rem;
    max-width: 800px;
    margin: auto;
}

h2 {
    color: #4CAF50;
    margin-bottom: 1rem;
}

ul {
    list-style-type: disc;
    padding-left: 1.5rem;
}

/* Botón */
button {
    background-color: #4CAF50;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1rem;
}

button:hover {
    background-color: #45a049;
}


/*aqui va el footer*/
footer{
    width: 100%;
    padding: 50px 0px;
    background-color: #bbdabc;
    -webkit-mask-image: url(../logos-y-mas/background-footer.svg);
    mask-image: url(../logos-y-mas/background-footer.svg);
    -webkit-mask-size: cover;
    mask-size: cover;
}

.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;

}

.box__footer{
    display: flex;
    flex-direction: column;
    padding: 40px;

}

.box__footer .logo img{
    width: 200px;
}

.box__footer .terms{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #7a7a7a;
    font-size: 18px;

}

.box__footer h2{
    margin-bottom: 30px;
    color: #343434;
    font-weight: 700;

}

.box__footer a{
    margin-top: 10px;
    color: #7a7a7a;
    font-weight: 600;

}

.box__footer a:hover{
 opacity: 0.8;
}

.box__footer a .fab{
    font-size: 20px;

}


.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
    
}

.box__copyright p{
margin-top: 20px;
color: #7a7a7a;

}

.box__copyright hr{
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}